* {
	margin: 0;
}

code.ascii {
	padding: 0;
	text-align: center;
}

.ascii-art {
	display: block;
	line-height: 8px; 
	font-size: 8px; 
	font-weight: bold;
	white-space: pre;
	font-family: monospace;
	color: #0F0;
	background: #130;
}

.pagination > li > a, .pagination > li > span {
	border-color: #080808;
	color: #9d9d9d;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
	color: #00ff00;
	background-color: #222;
	border-color: #080808;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	color: #00ff00;
	background-color: #222;
	border-color: #080808;
}

.ascii-username {
	display: block;
	line-height: 8px; 
	font-size: 8px; 
	font-weight: bold;
	white-space: pre;
	font-family: monospace;
	color: #0F0;
}

.prompt .command {
	margin: 20px 0;
}

.terminal p {
	color: #00ff00;
	font-family: 'Inconsolata', monospace;
}
	
.terminal {
	padding: 20px 5px;
}

.wrapper.index {
	margin-bottom: -50px;
}

.terminal .stdout code {
	background-color: transparent;
}

.terminal .user-social i {
	color: #00ff00;
}

html {
	height: 100%;
}

body {
	background-color: #fdfdfd;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	padding-top: 70px;
}

img {
 	max-width: 100%;
}


#green-terminal {
	color: #00ff00;
}

.font-header {
	font-family: 'Inconsolata', monospace;
}

.font-paragraph {
	font-family: 'Open Sans', sans-serif;
}

nav {
	font-size: 1.5em;
}

.dropdown-menu li {
	font-size: 1.5em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Concert One', cursive;
}

#user-name {
	font-size: 5em;
	text-transform: uppercase;
}

.user-description {
	border-style: solid;
	border-width: 5px;
	border-color: #292929;
	margin-top: 20px;
	margin-bottom: 1em;
	padding: 15px;
	font-size: initial;
}

.user-profile {
	padding: 0;
}

.user-picture {
	border-style: solid;
	border-width: 5px;
	border-color: #292929;
	margin-top: 20px;
}

i {
	margin: 10px 20px 10px 20px;
	color: #333;
}

.post-link {
	float: left;
}

.post-list a {	
	color: #00ff00;
}

.post-date {
	float: right;
	color: #9d9d9d;
}

.single-post-header a {
	color: #00ff00;
}

.post-header {
	overflow: hidden;
	padding: 0 5px 0 5px;
	background-color: #222;
	border-top: 1px solid #080808;
}

.post-summary, .post-content{
	clear: both;
}

.post-summary {
	padding: 0 5px 0 5px;
}

.post-list-footer {
	padding-bottom: 5px;
}

#post-list {
	list-style: none;
	padding-left: 0;
}

.post-list-item {
	margin-top: 20px;
	border-style: solid;
	border-width: 0 0 3px 0;
	border-color: #292929;
}

.post-comments {
	padding-top: 10px;
	border-top-style: solid;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto;
}

.footer {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #222;
	border-top: 1px solid #080808;
}

.push {
	height: 50px;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

div p {
	text-align: justify;
}

td {
	margin: 0 20px 0 20px;
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
	.ascii span {
		font-size: 6px;
		line-height: 6px;
	}
}


@media only screen and (max-width: 600px) and (min-width: 400px) {
	.ascii span {
		font-size: 4px;
		line-height: 4px;
	}
}

@media only screen and (max-width: 400px) and (min-width: 200px) {
	.ascii span {
		font-size: 2px;
		line-height: 2px;
	}

	.ascii-username {
		font-size: 4px;
		line-height: 4px;
	}
}
