<code class="ascii">
	<span class="ascii-art">
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%%%%%&%%%%%%%%%%%%%
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%&&%%&%&%%%%%%%%%%%
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%%%%%%%%%%%%%%
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%#((########%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%&&&&&%%%%%%%%
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/****,,,,,......,..,*/(##(%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%%%%&&%%%%
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%(*,...........................,,//(##&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%&%&%%%
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%#,,,*,,,,,....,,................. ....,***(##%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/**,,//******,,,,,,,,,.........  ..  ..    .....,*(%&&&&&&&&&&&&&&&&&&&&&&&&&&&&%&&&&&&&&&%
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%(/***///****,,*,,,,*,,,,,,,,..... ... ...      .....,//%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%&%/,,,,,**,,,*,,,,,,**,,,,,,,,,,,..........       ..    ..,(%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%(,.......,,***//*****,,,,,,,,,,,.........        .      ....,*#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&........,*/((#(#######(((///***,,,..,.... .     ...      .......,/(&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%/......,***/(##%%%%%%%%%%%#####((//**,,,........            .......,**#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/.....,*//(###%%%%&&%%%%%%%%%%%%%####(((//*,,,......             .....,**(&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(,....,*/###%%%&&&%&&&%%%%%%%%%%%%##########(//**,,.......        ........,*(%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&....,*((%#%%%%&&&&&&&&&%%%%%%%%%%%%#############((/*,,........    . .....,,,/(%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&....*((#%%%&&&&&&&&&&&&&%%%%%%%%%%%%#############(((((/*,,,.................***(%&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&@@@&&&@&&@&@&@&&&&&&@&&&&&...,(##%%%%%&&&&&&&&&&&&&&%%%%%%%%%#################(((((////*,,..... ......,/((/#&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&@@@@&&@&&&@@&&@&@@@&@&&&&&%,.,/((#%%%%%&&&&&&&&&&&%%%%%%%%%%%########((((#(##((((((((((((///*,,.... ....,*/(%#&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&@&@&&@@@@@@@@@&&&@@&@@@@@@&&&&&,.,/(##%%%%%%%&&&&&&&&&&&%%%%%###########(((((((#(((((((((((((((((((//,......,/#%%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&@&&@@@@@@@@@@&@@@@&&&@@@@@@@&&@@&&(,,(##%%%%%%%%%&&&&&&&&&&&%%%%%%##########((((((((((((((((((((((((((((((*,.../(#%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&@@@@&&&&@@@@@@@@@&&@@@@@@@@@&&@@@@@@@@@@@@@&**(##%%%%%%%%&&&&&&&&&&&&&%%%%%#############((((((((((((((((((((((((((((((,.,/%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&@@&@&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%*(#%%%%%%%&&&&&&&&&&&&&%%%%%%%%#############(((((((((((((((((((((((((((((((,/%%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@/##%%%%%%&&&&&&&&&&&&&&&&%%%%%##############((((((((((((((((((((((((((((((((/,&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&/#%%%%%%&&&&&&&&&&&&%#(//**,***///(((((###(#(((((((((((((((((((((((((((((((((,&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&@@@&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&@%%%%%&&&&&&&&&&&%(//***,,,........,**//(((((((((((((((((((((((((((((((((((((/(&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&@&&&%&&&@&(%%%%%&&&&&&&&&&%#((//////****,,.......,*////(((((((((((((((((((((((((((((((((((&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(//#%##%%%%%&&&&&&&&&&%##(((////*********,.. ......,*/(((((((((((((((((((((((((((((((((&&&&&&&&&&&&&&&&&&&&&&%&&&&&&%%%%%%
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(****/(####%%%%%&&&&&&&&&%%##(//*****////****,,,.......,,**/((((((((((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%%
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,,**(#((###%&%%%&&&&&&&&%%#((/////(###(((///**,,,,,..,,,,,*///(((((((((((((((((((((((((((/&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#/,**#%%#(##%%%%&&&&&&&&&%%#((/////**,,,...,,**,,,,,,,,,,,,*////((((((///(//////////((((((((&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#***%%%%&&%##%%%&&&&&&&&&%%###(/////,*//...,.....,,,,,,,***////(((((////****,,...,,,**/((((&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#/*(%#(((/*((##&&&&&&&&&&%%####((((((/**,.....*/*,.,,,,,***//(((((((///*,,,............,/(#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&(/%(/***//#%#&&&&&&&&&&&%%%%####((((//***,,,*,,,,,,,,,,***(((((((((//*,.....   .. ......,//////////////////((((((((((((((((((((
@@@@@@@@@@@@@@@@@@@@@@@@@@@&@@@(%(**///#&%#&&&&&&&&&&&&&%%%######((//****************//(#%%##((((/,......,,,,*****,,...,(((((((((////////////************,,,,
@@@@@@@@@@@@@@@@@@@@@@@@@@@@&@@@&(%#///(#&%##&&&&%%%%%&&&%%%%%#########((///*********/(##%%%%##((((*,,,....,,,,*****//**,,(####################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#%%%###%%(#&&%%%%%%%%%%%%%#############((///////(((##%%%%&%##(((/*,,,,.... ..,******/**/#####################################
@%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%#%&&(//#%((%%%%%%%%%%%%%#######(##(((((((((((#######%%%%&&%##((((/,,,,,.....,,..,*****/############%#########################
%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&%#(##%((%%%%%%%%%%##########((#((((((####%%%%%%%%%%&&&&%##((((/*,,,,,,,,***,..,**/(##########%%%%#%#(####################(
@@@@@&@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&%#####%(#%%%%%%%%%######################%%%%%%%%%%&&&&&%%##((((///*******,,******/(#########(#%%#%%%%#%%%##%%##############
@@@@@@@@@&&&&@@@@@@@@@@@@@@@@@@@@@&%%%###%%((#%%%%%%%############################%%%&&&&&&%%%##(((((///////*****/////((#############%#%%#%%%%%%%%%##(#%###((###
&@@@@@@@@@@@@@@&&&@@@@@@@@@@@@@@@@@@####(/(#%%%%%%#######%%%#%#%#######(#(((((#%&&&&&&&&%%##((((((///////////////((((###%%%#####%%%%%%%%%%%%%%%%%%%%%%%######
@@@@@@@@@@@@@@@@@@&&@@@@%@&%&@#%@&&%%#((///#%%%%%%%#%%%%%%%%%%%########(((((((#&&&&&&&&%%%##((((((((///////((((((((((##%%%%%####%%%%%%%%%%%%%%##%%%%%%#######
@@@@@@@@@@@@@@@@@@@@@@@@&&@&@&&@@#&@@@@@@&//(#%%%%%%%%%%%%%%%%%#######((((((((/(%&&&%%%%%%%##((((((((((/(/(///(((((((((######%####%%%%%%%%%%##%%#%%%#%%%#%%####
@@&@@&&&&&@&&&&&@@@@@@@@@@@@@&@&@&&@@@@@@&//((%%%%#%%%%%%%%%%%########((((((((/(%%###########((((((((/((((/(((/((((((((#####%###%%%%%%%%%%%%%%%##%%%%%%%#######
@@@@@&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&////(#%%##%%%%%%%%%########((((((((((/(/*,..,/(((((((((((((/(((((((((((((((((#%%%%%%%%#%%%%%%%%%%%%%%%%%%%%%%%%%#####
&&@@@@@@@@@@@@@@@@@@@@&&@@@@@@@@@@@@@@@&@%//((((%%###%%%%%%%%%#######((#########((**//***((/////((//((/(((((((((((((((#%%#%%%%%%%%%%%%%%%%%%%%#%##%#%%%%%%#####
&@@@&&&&&&&&&&@@@&@##@&@@@@%&%@%%@&%@%&(*(//(((#%#%%%%%%%%%#######################(*,,,****///*,*///((((((((((((((((#%%%%%%(%%%##%#%%%%#%%%%%%%%%%%%%%%%#####
@@@@@@@@@@&&&&&@&&@&@@@@@@@@&@@@@@@@@@@@&&*(//(//(#%%##%##%#%%%########((((((((((/***,...,,,,,,**////((((((((((((((((#########%%%%%%#%%%%%%%%%%%%%%%%%%%%%%####
@@@@@&&&@@@@@@@@%&@@@@@@@@@@@@@@@@@@@@@@@&*//*/*/*/(#%%%%%##%%####((/**,*******,,,...............,//((((((((((((((((##########%%%#%%%%%%%%%%%%%%%%%%%%%%%%%##%%
@@@@@@@@@@@@@@@@@&@@@@@@@@@@@@@@@@&&&&@@@&*/*******/((#%%#%######(/**,,,,,*****,,..... ....  .....*///(/(((((((((((######(####%%%#%%%%%%%%%%%%%%%%%%%%%%%%%##%#
@@@@@@@@@@@@@@@@@@@@@#&@@@@&&@@&&&&%%&&%%@/,***,**,*,/((#######//**,,,,***/******//***........   ..,,*/(((((((((((##(#########%%###%%%%%%%%%%%%%%%%%%%%%%%%####
@&&&@@@@@@@@&@@#%&%#&%@@@@&&%@&@&&&%&&%@#,,,,,*/*,,,*/(((##(/*,,,,,,.,,************///**,,,,,.......,/(((((((((#############%%%%#%%%%%%%%%%%%%%%%%%%%%%%%##%#
@@@@@@@&&&&&&@@%&@@@@@@@@@&&&&&&&&@&&&&@&@%*,,,,,,,,,,,,**///**,,,,**///*****,,,,,,,,,,*******//*,,,...,/(((((((###############%%##%%%%%%%%%%%%%%%%%%%%%%%#####
&&@&&&&&@&@&&@@&%&@@@@@@&@&&@&&&&@@@@@@@@@&(,.....,....,,,**,,,,,,*////(((///////**,,,,,,,,.,,,**/**,,,,*(((((/#################%##%%%%%%%%#%%%%%%##########(##
&&@@@@@&%&&@@&@@&&@@@@@&&@&&&&&@@@@@@@@@@&&%(.....,.........,,,,,*//////(((((((////************,,,,,,,,*/(((/*(##((##(#########%%##%%%%%%%%%%##%%##############
&&&&&&&@&&&&&&&&&&&&&&&@@@&&&@@@@@@@@@@@@@&%#*..................,*/////////****/************//*****,,,,/(((/,*####(#((###(#####%%##%%%%%%%%%%%%###############(
&&&&&&&&@&&%@&@&&&&&&&@@@@@@@@&&@@@@@@@@@@&%%#/.................,*////////****,.....,,******/////***,.*/(/..,(############((###%%%%%%%%%%%%######%#####(######(
&&&&&&&&%&&@@@@@&&&&@@@@@@@@@@&&@@@@@@@@&&&%%##/,...............,*////////***,.       ..,****/////*,..,*,..,((############(#(###%%%%%%%%%%%%%##%#%%%%%%###%####
&&&&&&%&&&&&&&&&@&&@@@@@&&&@@&&&&&&&&@@&&&%%%##((,................,**////////*,. ..   .,***///////*,.......#&(######################%%%%%%%%%%%%%%%%%%%#%%%%###
@&&&&&&&&&&&&&&&&&&&@@&&&&&&&&&&&&&@&&@&&&%%%####/*.................,******//**,,,,,...,,**//////*,.......(%#%##%##########%%%%%#%%%%%%%%%%%%%%%%%%%%%%%%%%%%
&&&&&&&&&&&&&&&&&&&@@@&&&&&&&&&&&&&&&&&&&&%%%####((/*...............,,,.,,,,,,**,,,,,,,,,,*/*/**,... ..../%&%%%##############%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%%%%#####((*.... ..........,,..,,,,,,,,,,,,,,,.....,.....   ...%&&##############%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@#&&&&&&&&%%%%%####(#((/...  .... .. ...........,,.,..,,........ .   ...*#&&&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@&%%%%%%%#####(((/,.. ...      .........................     ...*&&&&&&%%%%%%%%%%%%%###%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
&&&%&&&&&&&&&&&&&&&&&&&%%&%(&%%&%@@@@@@#%%%%%%%%#####((((*,.... ..   .....   . ..          ....   ..,/%&&&&&&%%%%%%%%%%%%####%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
&&&&&&&&&&&&&&&&&&&&&&&@&&&%%@@@@@@@@%%%%%%%%%%###((((((//,....     ...                   ..   ..,*#&&&&&&&%#%%%###########%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
&&&&&&&&&&&&&&&&&&&&&&&@@@@&%#@@@&@@@@&%%%%%%%%%%###(((((((//**..  . ..                    ......,/////(%&&&&%#%%%%%%##%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
&&&&&&&&&&&&&&&&&&&@@@@@@@@%##@@@&@@@@@%%%%%%%%%%####((((((////**,,.....                    ...,**////////(&&%###%%%%##%%%###%%#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
&&&&&&&&&&&@@@@@@@@@@@@@@@&%##@@&&@@@@@&%%%%%%%%%####((((((/////****,,*,,,....... ..  ....,,**///////////////*(#####%####%%#%#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
@@@@&%#&@@@@@@@@@@@@@@@@@@&%%%@@&&&@@@@&&%%%%%%%%####(((((((//////************,**************//////////////**(#############%%%%##%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
@@@@&&%&@@@@@@@@@@@@@@@@@@&%#&@&%&@@@@@@@&%%%%%%####((((((((///////*****************/***//////////////////**((((#((((####%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
@@@@@&&&&&&@@@@@@@@@@@@@@&%%#&@@&&@@@@@@&&%%%%%%%###(((((//(////////*****************////////////////////**((((#(((((##((((((#%%%%%%%%%%%%%%%%%%%%%%#%%%%%%%%%%
@@@@@&&%&&&&@@@@@@@@@@@@@&%%#&@@&%@@@@@&&&&%#%#%####((((((/////////****/////*/**///////////////////////***((((#((((((((((((((((((##%%%%%%%%%%%%%%%%%%%%%%%%%%%%
@@@@@&%%%&&&&@@@@@@@@@@@@&%##&@@@&%&@@@&&&&&#######(((/////////////////////////////////////////////***/(##((((((#(((((((((((((((((((###%#%#%%%%%%%%%%%%%%%%%%
&@@@@@%#%&&&&@@@@@@@@@@@@&%#%&@@@&%%&&&@&&&&&#####((((////////////////////////////////////////////***((((((((((##((((((((((((((((((((((((((##%%%%%%%%%%%%%%%%
&&@@@&%##&&&&@@@@@@@@@@@@&%%%&@@@@&%%&&&&&&&&&((###((((///////////////////////////////////////////*/(((((((((((((((((((((((((((((((((((((((#((((((#%%%%%%%%%%
%&@@@&%##&&@@@@@@@@@@@@@@&%%%&@@@@&%%&&&&&&&&&&&&((((((((/////////////////////////////////////////*((((((((((((##(((((((((((((((((((((((((((((((((((((((###%%%%
#%@@@&%##&&&@@@@@&&&&@@@@&%%%&@@@@@%%%&&&&&&&&&&&&(((((((/////////////////////////////////////////(((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((
	</span>
</code>
