<main class="prompt navbar-inverse terminal">
	<div class="command">
		<p class="stdin">screenfetch</p>
		<span class="stdout">
			<code class="ascii-username">
██╗      █████╗ ███╗   ██╗██╗   ██╗ ██████╗██████╗  ██████╗ ███████╗████████╗
██║     ██╔══██╗████╗  ██║╚██╗ ██╔╝██╔════╝██╔══██╗██╔═══██╗██╔════╝╚══██╔══╝
██║     ███████║██╔██╗ ██║ ╚████╔╝ ██║     ██████╔╝██║   ██║███████╗   ██║   
██║     ██╔══██║██║╚██╗██║  ╚██╔╝  ██║     ██╔══██╗██║   ██║╚════██║   ██║   
███████╗██║  ██║██║ ╚████║   ██║   ╚██████╗██║  ██║╚██████╔╝███████║   ██║   
╚══════╝╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝    ╚═════╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝   ╚═╝    
			</code>
		</span>
	</div>
	<div class="command">
		<p class="stdin">who am a</p>
		<span class="stdout" style="display:block;font-weight:bold;font-family: monospace;color: #0F0;font-size:12px; margin-left: 15px;">
Hi I'm a Khachatur or just Khach.<br>I'm a DevOps engineer, functional programming enthusiast... <a href="{{ "about" | absURL }}">blah, blah, blah...</a>
		</span>
	</div>
	<div class="command">
		<p class="stdin">netstat</p>
		<div class="stdout">	
			<div class="user-social">
			{{ partial "social.html" . }}
			</div>
		</div>
	</div>
</main>

<style>
</style>

<script>
var $stdin = $('.prompt .stdin');
var $stdout = $('.prompt .stdout');

$stdin.hide();
$stdout.hide();

var lineContents = new Array();

var terminal = function() {

	var skip = 0;
  	
	typeLine = function(idx) {
    		idx == null && (idx = 0);
    		var element = $stdin.eq(idx);
    		var content = lineContents[idx];
    	
		if(typeof content == "undefined") {
      			$('.skip').hide();
      			return;
    		}
    		
		var charIdx = 0;

    		var typeChar = function() {
      		var rand = Math.round(Math.random() * 100) + 25;

		setTimeout(function() {
			var char = content[charIdx++];
			element.append(char);
			
			if(typeof char !== "undefined")
				typeChar();
			else {
				$stdout.eq(idx).show();
				element.removeClass('active');
				typeLine(++idx);
			}
		}, skip ? 0 : rand);
	}
    
	element.append(' lanycrost@lanycrost ~ $ ').addClass('active');
	typeChar();
}

	$stdin.each(function(i) {
    		lineContents[i] = $(this).text();
    		$(this).text('').show();
  	});

  	typeLine();
}

terminal();
</script>
